svg {
    pointer-events: all;
}

#map {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    padding: 20px 0;
}

#map svg {
    /*filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.15));*/
}

#map path {
    transition:
        fill 0.3s ease 0.05s,
        stroke 0.3s ease;
}

#map path:not(:hover) {
    transition:
        fill 0.15s ease 0.05s,
        stroke 0.15s ease;
}

#map {
    /*background-image: url("../assets/map-bg.webp");*/
    background-size: cover;
    background-position: center;
}

image {
    pointer-events: none;
}
